#root {
  // max-width: 1280px;
  // margin: 0 auto;
  // padding: 2rem;
  width: 100%;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  // background-color: #f5f5f5;
}

//TODO: make columns responsive

.App__decksContainer {
flex-direction: row;
justify-content: center;
padding-bottom: 2rem;


}

// .App__decksContainer {
// padding-left: 0;
// // display: grid;
// // width: 800px;
// // max-width: 900px;
// grid-gap: 20px;
// // grid-template-columns: repeat(3,1fr);
// }

/**
.App__deckContainer{
  justify-content: center;
  flex-direction: row;

}**/

// .App_deckContainer {
// background-color: blueviolet;
// flex-direction: row;
// // align-items: center;
// }

/**
.App__decks a {
  color: black;
  display: block;
  // background-color: orange;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  line-height: 120px;
  
  }
**/

// .App__decks li {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 120px;
  
//   // background: black;
//   border: 1px solid white;
//   border-radius: 5px;
//   transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
// }

// .App__decksCard {
//   // background-color: purple;
//   background-color: #d3d4d8;
//   // color: black;
//   border-radius: 5px;
//   min-width: 500px;
// }

.App__deckCard {
  //background-color: #d3d4d8;
  background-color: orange;
  border-radius: 5px;
  position: relative;
  width: 100%;
  
  // min-width: 275px;
  // padding: 2em;
  // min-width: 360px;
  // max-width: 350px;

  button {
    display: none;
    position: absolute;
    font-size: 11px;
    font-weight: 900;
    top: 8px;
    right: 8px;
    background: grey;
    // background: purple;
    z-index: 50;
    opacity: 55%;

  }
  
  &:hover {
    button {
      display: block;
      &:hover {
        color:  darkred;
      }
    };
  }

 .App_cardActionArea {
  // background-color: orange;
  padding: 3rem 2rem;

 }

  // a {
  //   background-color: pink;
  //   display: block;
  // }
}


// TODO: this isn't functioning
.App__decks li:hover {
  // background: rgba(0,0,0,.8);
  cursor:pointer;
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  color: teal;
  background: rgba(0,0,0,.05);

}

.App_formContainer {
  justify-content: center;
}
.App__form {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.App__form button{
  line-height: 2.8;
  background-color: #3fbac2;
  color: black
}
