#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  ul li::marker {
    content: none;
  }
  
  .cardContainer { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    color: black;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
    transform-style: preserve-3d;
    transition: 150ms;
    transform: rotateY(var(--rotate-y, 0)) translateY(var(--translate-y,0));
    width: 100%
  }

  .cardContainer:hover {
    background: rgba(0,0,0,.1);
    cursor:pointer;
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba (0,0,0,.9);
  }

  .cardContainer.carousel {
    width: 653px;
    height: 435px;  
  }

  .cardContainer.flip {
    position: relative;
    --rotate-y: 180deg;
    transition: 200ms;
  }

  .cardContainer .front,
  .cardContainer .back {
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    padding: 1rem;
  }
  
  .cardButton {
    position: absolute;
    font-size: 10px;
    top: 5px;
    right: 5px;
    background: grey;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
  }
  
  .cardButton.carousel.flip {
    position: absolute;
    top: 5px;
    right: 615px;
    transform-style: preserve-3d;
    /* background: purple; */
  }
  .cardButton.flip {
    position: absolute;
    top: 5px;
    right: 294px;
    transform-style: preserve-3d;
  }
  
   .cardDiv {
    /* background: purple; */
    transform-style: preserve-3d;
    /* transition: 150ms; */
    transform: rotateY(var(--rotate-y, 0));
    min-width: 200px;
    width: 400px;
   }
   .cardDiv.flip {
    /* background: purple; */
    transform-style: preserve-3d;
    /* transition: 150ms; */
    transform: rotateY(var(--rotate-y, 0));
    position: relative;
    --rotate-y: 180deg;
    transform-style: preserve-3d;
   }

   .front.hidden,
   .back.hidden {
    display: none;
   }

   .Deck {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  

  .Deck__form button{
    line-height: 2.8;
  }
  
  .Deck_cardsContainer {
  padding-left: 0;
  display: flex;
  width: 400px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
 
  }

  .Deck_cardContainer {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .Deck__formContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:12px;
    padding: 1rem 2rem;
}

  .Deck__form {
    display: flex;
    width: 100%;
  }

  .Deck__formInputs{
    
   
     
    }
  

    /**
.formInputsContainer {

  .Deck__form--text {
    background-color: purple;
  }

  .Deck__form--definition {
    background-color: yellow;
  }

  .Deck__form--submit {
   background-color: orangered;
  }
}**/

/**
.formTextContainer {
  justify-content: flex-end;
}**/

/**.formDefinitionContainer {
  justify-content: flex-;
}**/


   .Deck__form--text {
  
   }
   .Deck__form--definition {

   }


   .Deck__switchesContainer {
    justify-content: center;
   }

   .Deck__switchesContainer--modeSwitch {
    justify-content: center;

   }

   .Deck__switchesContainer--viewSwitch {
    justify-content: center;

   }